/*模块公共部分*/
.module_wrapper {
    width: 98%;
    height: 100%;
    margin: 20px auto;
}

#module_1 {
    margin: 20px auto;
}

#module_2, #module_3，#module_4, #module_5 {
    /*height: 48em;*/
}

/*搜索框*/
.serch_table tr td {
    padding: 5px !important;
    border-width: 0px !important;
}

/*表格*/
.module_table {
    width: 98%;
    margin: auto;
    text-align: center;
    background-color: white;
    font-family: "Microsoft YaHei UI";
}

.panel-body {
    overflow: scroll;
    overflow-x: auto;
    overflow-y: auto;
}


.module_table tr th {
    text-align: center;
}

/*分页*/
.pagination_bar {
    width: 98%;
    margin: auto;
    text-align: center;
}

.pagination {
    display: -webkit-inline-box;
}
.SelectEvenNum {
    float: left;
    margin-top: 10px;
}

.SelectEvenNum div, .SelectEvenNum select {
    float: left;
}

.SelectEvenNum select {
    padding: 0px;
}

.pagination_bar .pagination {
    position: relative;
    margin: 5px auto;
    /*display: block;*/
}

.sumNum {
    position: relative;
    float: right;
    margin-top: 10px;
}

.disabled {
    pointer-events: none;
}

.btn {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.panel-body {
    padding: 25px !important;
}

.module_table_panel .panel-body {
    padding: 10px !important;
}

@media screen and (max-width: 1367px) {
    .pagination > li > a, .pagination > li > span {
        padding: 3px 6px;
    }

    .SelectEvenNum, .pagination, .sumNum {
        float: left;

    }

}

@media screen and (min-width: 320px) and (max-width: 480px) {

    .module_wrapper {
        width: 100%;
        height: 100%;
        font-size: 1em;
    }

    .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-12, .panel-body {
        padding: 0;
    }

    /*分页工具*/
    .pagination > li > a, .pagination > li > span {
        padding: 3px 6px;
    }

    .SelectEvenNum, .sumNum {
        margin: auto;
    }

    .pagination_bar {
        display: grid;
    }

    .pagination {
        margin: 5px auto;
    }
}
