<!doctype html>
<html lang="en" class="login-content" data-ng-app="materialAdmin" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="Author" content="">
    <meta name="Keywords" content="">
    <meta name="Description" content="">
    <title>电力管理后台管理系统</title>

    <link rel="shortcut icon" href="/img/favicon.ico"/>
    <!-- Vendor CSS -->
    <link href="css/login/material-design-iconic-font.min.css" rel="stylesheet" type="text/css">
    <!-- CSS -->
    <link href="css/login/app.min.1.css" rel="stylesheet" type="text/css">
</head>

<body class="login-content" data-ng-controller="loginCtrl as lctrl">

<div class="lc-block" id="l-login" data-ng-class="{'toggled':lctrl.login === 1}">
    <h1 class="lean">登陆</h1>

    <div style="color: red; letter-spacing:1px" th:text="${msg}"></div>

    <form id="loginform" action="/doLogin" method="post">
        <div class="input-group m-b-20">
    		<span class="input-group-addon">
    			<i class="zmdi zmdi-account"></i>
    		</span>
            <div class="fg-line">
                <input name="username" type="text" class="form-control" placeholder="账号" regex="^\w{3,16}$"/>
            </div>
        </div>

        <div class="input-group m-b-20">
    		<span class="input-group-addon">
    			<i class="zmdi zmdi-male"></i>
    		</span>
            <div class="fg-line">
                <input name="passwd" type="password" class="form-control" placeholder="密码" regex="^\w+"/>
            </div>
        </div>

        <div class="clearfix"></div>

        <a onclick="submitLogin();return false;" href="javascript:void(0);" class="btn btn-login btn-danger btn-float">
            <i class="zmdi zmdi-arrow-forward"></i>
        </a>
    </form>

</div>

</body>


<script src="js/login/bower_components/jquery/dist/jquery.min.js"></script>
<!-- Angular -->
<script src="js/login/bower_components/angular/angular.min.js"></script>
<script src="js/login/bower_components/angular-resource/angular-resource.min.js"></script>
<script src="js/login/bower_components/angular-animate/angular-animate.min.js"></script>

<!-- Angular Modules -->
<script src="js/login/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="js/login/bower_components/angular-loading-bar/src/loading-bar.js"></script>
<script src="js/login/bower_components/oclazyload/dist/ocLazyLoad.min.js"></script>
<script src="js/login/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>

<!-- Common js -->
<script src="js/login/bower_components/angular-nouislider/src/nouislider.min.js"></script>
<script src="js/login/bower_components/ng-table/dist/ng-table.min.js"></script>

<!-- Placeholder for IE9 -->
<!--[if IE 9 ]>
<script src="js/login/bower_components/jquery-placeholder/jquery.placeholder.min.js"></script>
<![endif]-->
<!-- App level -->
<script src="js/login/app.js"></script>
<script src="js/login/controllers/main.js"></script>
<script src="js/login/controllers/ui-bootstrap.js"></script>

<!-- Template Modules -->
<script src="js/login/modules/form.js"></script>
</html>