<!DOCTYPE html>
<html style=""
      class=" js flexbox flexboxlegacy canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>电力管理系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- App favicon -->
    <link rel="shortcut icon"
          href="/img/favicon.ico">
    <!-- App css -->
    <link href="css/plugins/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="css/index/icons.css" rel="stylesheet" type="text/css">
    <link href="css/index/metismenu.min.css" rel="stylesheet" type="text/css">
    <link href="css/index/style.css" rel="stylesheet" type="text/css">
    <link href="css/index/index.css" rel="stylesheet" type="text/css">
    <script src="js/plugins/modernizr.min.js"></script>

</head>

<body style="height: 100%; margin: 0">

<!-- Begin page -->
<div id="wrapper">
    <div id="account" hidden>
        <shiro:principal property="account"/>
    </div>
    <!-- Top Bar Start -->
    <div class="topbar">

        <!-- LOGO -->
        <div class="topbar-left">
            <a href="/index.html" class="logo">
                        <span>
                            <img src="img/logo.png" alt="" height="40">
                        </span>
                <i>
                    <img src="img/logo_sm.png" alt="" height="28">
                </i>
            </a>
        </div>

        <nav class="navbar-custom">

            <ul class="list-unstyled topbar-right-menu float-right mb-0">
                <li style=" font-size: 20px; color: white; margin: 20px auto;">welcome !</li>

                <li class="dropdown notification-list">
                    <a class="nav-link dropdown-toggle waves-effect waves-light nav-user" data-toggle="dropdown"
                       href="javascript:void(0);" role="button"
                       aria-haspopup="false" aria-expanded="false">
                        <img src="img/avatar-1.jpg" alt="user" class="rounded-circle"> <span class="ml-1"
                                                                                             style="color: white;"><shiro:principal
                            property="username"/><i
                            class="mdi mdi-chevron-down"></i> </span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right profile-dropdown" x-placement="bottom-end"
                         style="position: absolute; transform: translate3d(130px, 70px, 0px); top: 0px; left: 0px; will-change: transform;">
                        <!-- item-->
                        <a id="logoutBtn" href="javascript:void(0);" class="dropdown-item notify-item">
                            <i class="fi-power"></i> <span>注销</span>
                        </a>

                    </div>
                </li>
            </ul>

            <ul class="list-inline menu-left mb-0">
                <li class="float-left">
                    <button class="button-menu-mobile open-left waves-light waves-effect">
                        <i class="dripicons-menu"></i>
                    </button>
                </li>
            </ul>

        </nav>

    </div>
    <!-- Top Bar End -->

    <!-- ========== Left Sidebar Start ========== -->
    <div class="left side-menu">
        <div class="slimScrollDiv active" style="position: relative; overflow: hidden; width: auto; height: 712.514px;">
            <div class="slimScroll-menu in" id="remove-scroll"
                 style="overflow: hidden; width: auto; height: 712.514px;">
                <!--- Sidemenu -->
                <div id="sidebar-menu">
                    <!-- Left Menu Start -->
                    <ul class="metismenu in" id="side-menu">
                        <li class="menu-title">菜单栏</li>

                        <li class="menu_item active" id="menu_1" style="background-color: #DCDCDC">
                            <a href="javascript: void(0);"><i class="fi-clipboard"></i><span>系统公告</span><span
                                    class="menu-arrow"></span></a>
                        </li>

                        <li class="menu_item" id="menu_2">
                            <a href="javascript: void(0);"><i class="fi-bar-graph-2"></i><span>用电查询</span><span
                                    class="menu-arrow"></span></a>
                        </li>

                        <li class="menu_item" id="menu_3">
                            <a href="javascript: void(0);"><i class="fi-head"></i><span> 个人信息 </span> <span
                                    class="menu-arrow"></span></a>
                        </li>
                        <!--menu-arrow-->
                        <li class="menu_item" id="menu_4">
                            <a href="javascript: void(0);"><i class="fi-location"></i><span>账单记录</span> <span
                                    class="menu-arrow"></span></a>
                        </li>

                        <li class="menu_item" id="menu_5">
                            <a href="javascript: void(0);"><i class="fi-paper"></i><span>缴纳电费</span> <span
                                    class="menu-arrow"></span></a>
                        </li>

                        <li class="menu_item" id="menu_6">
                            <a href="javascript: void(0);"><i class="fi-mail"></i><span>问题反馈</span><span
                                    class="menu-arrow"></span></a>
                        </li>

                    </ul>
                </div>
                <!-- Sidebar -->
                <div class="clearfix"></div>

            </div>
            <div class="slimScrollBar"
                 style="background: rgb(158, 165, 171); width: 8px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 713.028px;"></div>
            <div class="slimScrollRail"
                 style="width: 8px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div>
        </div>
        <!-- Sidebar -left -->
    </div>
    <!-- Left Sidebar End -->

    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="content-page">
        <!-- Start content -->
        <div class="content">

            <!--通告模块-->
            <div class="col-md-12 padding-0" id="module_1" style="display: block">
                <div class="module_wrapper">
                    <div class="col-md-4" style="padding-right: 0px">
                        <div class="panel panel-default">
                            <div class="panel-heading">通告列表</div>
                            <div class="panel-body">
                                <table style="border:0;" class="table table-hover" id="table_1">
                                    <thead>
                                    <tr>
                                        <td width="50%"></td>
                                        <td width="40%"></td>
                                        <td width="10%"></td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                                <nav id="collapseOne" class="panel-collapse collapse bar_1" style="text-align: center">
                                    <div hidden class="SelectEvenNum">
                                        <select>
                                            <option selected>8</option>
                                        </select>
                                    </div>
                                    <ul class="pagination" style="padding-left: auto!important;">
                                        <li><a href="javascript:void(0);">&laquo;</a></li>
                                        <li><a href="javascript:void(0);">&lsaquo;</a></li>
                                        <li class="active"><a href="javascript:void(0);">1</a></li>
                                        <li><a href="javascript:void(0);">2</a></li>
                                        <li><a href="javascript:void(0);">3</a></li>
                                        <li><a href="javascript:void(0);">4</a></li>
                                        <li><a href="javascript:void(0);">5</a></li>
                                        <li><a href="javascript:void(0);">&rsaquo;</a></li>
                                        <li><a href="javascript:void(0);">&raquo;</a></li>
                                    </ul>
                                </nav>
                                <p style="text-align: center"><a id="moreInfoBtn" data-toggle="collapse"
                                                                 data-parent="#accordion"
                                                                 href="#collapseOne">更多信息</a></p>
                                <hr>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8" style="padding-left: 0px">
                        <div class="panel panel-default" id="noticeContent">
                            <div class="panel-heading">通告内容</div>
                            <div class="panel-body"></div>
                            <div class="panel-footer"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!--用电查询-->
            <div class="col-md-12 padding-0" id="module_2" style="display: none">
                <div class="module_wrapper">
                    <div style="padding:5px 0px">
                        <span>切换范围视图：</span>
                        <select id="viewSelect">
                            <option>日视图</option>
                            <option>月视图</option>
                        </select>
                        <select id="monSelect">
                            <option id="thisMon">当前月</option>
                            <option id="lastMon">上个月</option>
                        </select>
                        <select id="yearSelect" style="display: none">
                            <option id="thisYear">当前年</option>
                            <option id="lastYear">上一年</option>
                        </select>
                        <button onclick="genChart()" class="btn btn-default" style="margin-top: -5px;">确认切换</button>
                    </div>
                    <div id="container1" style="height: 80vh"></div>
                </div>
            </div>
            <!--个人信息-->
            <div class="col-md-12 padding-0" id="module_3" style="display: none">
                <div class="module_wrapper">
                    <div class="panel panel-default">
                        <div class="panel-heading" style="text-align: center;">我的个人信息</div>
                        <div class="panel-body">
                            <table class="table" id="table_2">
                                <tr>
                                    <td><i class="mdi mdi-human"></i><span>账号</span></td>
                                    <td><input placeholder="3114006432" readonly/></td>
                                </tr>
                                <tr>
                                    <td><i class="mdi mdi-rename-box"></i><span>姓名</span></td>
                                    <td><input placeholder="Kim" readonly/></td>
                                </tr>
                                <tr>
                                    <td><i class="mdi mdi-hotel"></i><span>宿舍</span></td>
                                    <td><input placeholder="西三536" readonly/></td>
                                </tr>
                                <tr>
                                    <td><i class="mdi mdi-memory"></i><span>宿舍余额</span></td>
                                    <td><input placeholder="123" readonly/></td>
                                </tr>
                                <tr>
                                    <td><i class="mdi mdi-phone"></i><span>手机</span></td>
                                    <td><input placeholder="123435465565" readonly/></td>
                                </tr>
                                <tr hidden>
                                    <td><input placeholder="校验码" style="float: right"/></td>
                                    <td>
                                        <button style="" class="btn btn-primary">获取校验码</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td><i class="mdi mdi-email"></i><span>邮箱</span></td>
                                    <td><input placeholder="1213@123.com" readonly/></td>
                                </tr>
                            </table>
                            <div style="text-align: center;margin: 10px auto">
                                <button class="btn btn-success">修改个人信息</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--账单记录-->
            <div class="col-md-12 padding-0" id="module_4" style="display: none">
                <div class="module_wrapper">
                    <div class="col-md-3">
                        <div class="panel panel-default">
                            <div class="panel-heading">缴费记录搜索</div>
                            <div class="panel-body">
                                <table style="border:0;" class="serch_table">
                                    <tr>
                                        <td><span>缴费日期</span></td>
                                        <td>
                                            <div style="display: flex">
                                                始：<input type="date">
                                            </div>
                                            <div style="display: flex">
                                                终：<input type="date">
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><span>状态</span></td>
                                        <td><select>
                                            <option selected>全部</option>
                                            <option>未处理</option>
                                            <option>已处理</option>
                                        </select></td>
                                    </tr>
                                </table>
                                <button class="btn btn-primary" type="button" style="margin:10px auto;"
                                        value="搜索">搜索
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="panel panel-default module_table_panel">
                            <div class="panel-heading">缴费记录列表</div>
                            <div class="panel-body">
                                <table class="table table-bordered table-hover module_table"
                                       id="table_4">
                                    <thead>
                                    <tr>
                                        <th>账单号</th>
                                        <th>金额</th>
                                        <th>支付人</th>
                                        <th>宿舍</th>
                                        <th>状态</th>
                                        <th>缴纳时间</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>1234567</td>
                                        <td>1023.23</td>
                                        <td>Kim</td>
                                        <td>西三536</td>
                                        <td>已支付</td>
                                        <td>2018-03-11</td>
                                    </tr>

                                    </tbody>
                                </table>
                                <div class="pagination_bar bar_4">
                                    <div class="SelectEvenNum">
                                        <div>每页</div>
                                        <select>
                                            <option>10</option>
                                            <option>20</option>
                                            <option>30</option>
                                        </select>
                                        <div>行</div>
                                    </div>

                                    <ul class="pagination">
                                        <li><a href="javascript:void(0);">&laquo;</a></li>
                                        <li><a href="javascript:void(0);">&lsaquo;</a></li>
                                        <li class="active"><a href="javascript:void(0);">1</a></li>
                                        <li><a href="javascript:void(0);">2</a></li>
                                        <li><a href="javascript:void(0);">3</a></li>
                                        <li><a href="javascript:void(0);">4</a></li>
                                        <li><a href="javascript:void(0);">5</a></li>
                                        <li><a href="javascript:void(0);">&rsaquo;</a></li>
                                        <li><a href="javascript:void(0);">&raquo;</a></li>
                                    </ul>
                                    <div class="sumNum">共0条数据</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--缴费模块-->
            <div class="col-md-12 padding-0" id="module_5" style="display: none">
                <div class="module_wrapper">
                    <div class="col-md-3">
                        <div class="serchBar">
                            <div class="panel panel-default">
                                <div class="panel-heading">宿舍搜索</div>
                                <div class="panel-body">
                                    <table style="border:0;" class="serch_table">
                                        <tr>
                                            <td><span>区</span></td>
                                            <td><select>
                                                <option selected></option>
                                                <option>东</option>
                                                <option>西</option>
                                            </select></td>
                                        </tr>
                                        <tr>
                                            <td><span>栋</span></td>
                                            <td><select>
                                                <option selected></option>
                                                <option>一</option>
                                                <option>二</option>
                                                <option>三</option>
                                                <option>四</option>
                                                <option>五</option>
                                                <option>六</option>
                                                <option>七</option>
                                                <option>八</option>
                                                <option>九</option>
                                                <option>十</option>
                                                <option>十一</option>
                                                <option>十二</option>
                                            </select></td>
                                        </tr>
                                        <tr>
                                            <td><span>号</span></td>
                                            <td><input type="text"/></td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>
                                                <button class="btn btn-primary" type="button"
                                                        style="margin:10px auto;">搜索
                                                </button>
                                            </td>
                                        </tr>
                                        <tr style="border-top:1px solid #E1E1E1; ">
                                            <td><span>宿舍名</span></td>
                                            <td><input type="text"></td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>
                                                <button class="btn btn-primary" type="button"
                                                        style="margin:10px auto;">搜索
                                                </button>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="operator">
                            <div class="panel panel-default">
                                <div class="panel-heading">操作</div>
                                <div class="panel-body">
                                    <button class="btn btn-primary" data-toggle="modal" data-target="#addDorm"
                                            value="添加" style="float: left;">添加宿舍
                                    </button>
                                    <button id="deleteBtn3" class="btn btn-danger" type="button" value="删除选中"
                                            style="float: right">删除选中
                                    </button>
                                    <div class="modal fade" id="addDorm" tabindex="-1"
                                         role="dialog" aria-labelledby="myModalLabel"
                                         aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-hidden="true">&times;
                                                    </button>
                                                    <h4 class="modal-title" id="myModalLabel">填写宿舍信息</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <table style="border:0;margin: auto">
                                                        <tr>
                                                            <td><span>宿舍名</span></td>
                                                            <td><input type="text"/></td>
                                                        </tr>
                                                    </table>

                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default"
                                                            data-dismiss="modal">取消
                                                    </button>
                                                    <button type="button" class="btn btn-primary">
                                                        提交信息
                                                    </button>
                                                </div>
                                            </div>
                                            <!-- /.modal-content -->
                                        </div>
                                        <!-- /.modal -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="panel panel-default module_table_panel">
                            <div class="panel-heading">宿舍列表</div>
                            <div class="panel-body">
                                <table class="table table-bordered table-hover module_table"
                                       id="table_3">
                                    <thead>
                                    <tr>
                                        <th><input type="checkbox">全选</th>
                                        <th>宿舍号</th>
                                        <th>宿舍名</th>
                                        <th>余额/元</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                                <div class="pagination_bar bar_5">
                                    <div class="SelectEvenNum">
                                        <div>每页</div>
                                        <select>
                                            <option>13</option>
                                            <option>18</option>
                                            <option>25</option>
                                            <option>30</option>
                                        </select>
                                        <div>行</div>
                                    </div>
                                    <ul class="pagination">
                                        <li><a href="javascript:void(0);">&laquo;</a></li>
                                        <li><a href="javascript:void(0);">&lsaquo;</a></li>
                                        <li class="active"><a href="javascript:void(0);">1</a></li>
                                        <li><a href="javascript:void(0);">2</a></li>
                                        <li><a href="javascript:void(0);">3</a></li>
                                        <li><a href="javascript:void(0);">4</a></li>
                                        <li><a href="javascript:void(0);">5</a></li>
                                        <li><a href="javascript:void(0);">&rsaquo;</a></li>
                                        <li><a href="javascript:void(0);">&raquo;</a></li>
                                    </ul>
                                    <div class="sumNum">共0条数据</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--反馈模块-->
            <div class="col-md-12 padding-0" id="module_6" style="display: none">
                <div class="module_wrapper">
                    <div class="col-md-3">
                        <div class="panel panel-default">
                            <div class="panel-heading">反馈搜索</div>
                            <div class="panel-body">
                                <table style="border:0;" class="serch_table">
                                    <tr>
                                        <td><span>标题</span></td>
                                        <td><input type="text"></td>
                                    </tr>
                                    <tr>
                                        <td><span>反馈日期</span></td>
                                        <td>
                                            <div>
                                                始：<input type="date">
                                            </div>
                                            <div>
                                                终：<input type="date">
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><span>状态</span></td>
                                        <td><select>
                                            <option value="2" selected>全部</option>
                                            <option value="1">已处理</option>
                                            <option value="0">未处理</option>
                                        </select></td>
                                    </tr>
                                </table>
                                <button id="searchFBbtn" class="btn btn-primary" type="button" style="margin:10px auto;"
                                        value="搜索">搜索
                                </button>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">操作</div>
                            <div class="panel-body">
                                <button id="addFBbtn" class="btn btn-primary" type="button" value="反馈问题"
                                        style="margin: auto">反馈问题
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="panel panel-default module_table_panel">
                            <div class="panel-heading">反馈列表</div>
                            <div class="panel-body">
                                <table class="table table-bordered table-hover module_table"
                                       id="table_6">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>标题</th>
                                        <th>内容</th>
                                        <th>反馈人</th>
                                        <th>状态</th>
                                        <th>反馈时间</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                                <div class="pagination_bar bar_6">
                                    <div class="SelectEvenNum">
                                        <div>每页</div>
                                        <select>
                                            <option>10</option>
                                            <option>20</option>
                                            <option>30</option>
                                        </select>
                                        <div>行</div>
                                    </div>
                                    <ul class="pagination">
                                        <li><a href="javascript:void(0);">&laquo;</a></li>
                                        <li><a href="javascript:void(0);">&lsaquo;</a></li>
                                        <li class="active"><a href="javascript:void(0);">1</a></li>
                                        <li><a href="javascript:void(0);">2</a></li>
                                        <li><a href="javascript:void(0);">3</a></li>
                                        <li><a href="javascript:void(0);">4</a></li>
                                        <li><a href="javascript:void(0);">5</a></li>
                                        <li><a href="javascript:void(0);">&rsaquo;</a></li>
                                        <li><a href="javascript:void(0);">&raquo;</a></li>
                                    </ul>
                                    <div class="sumNum">共0条数据</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="addFBModal">
                        <div class="modal-dialog">
                            <div class="modal-content modal-lg">

                                <!-- 模态框头部 -->
                                <div class="modal-header">
                                    <h4 class="modal-title" style="display: contents">标题：<input type="text"
                                                                                                placeholder="请输入标题"/>
                                    </h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>

                                <!-- 模态框主体 -->
                                <div class="modal-body">
                                    <div id="fbRichEditor"></div>
                                </div>

                                <!-- 模态框底部 -->
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭
                                    </button>
                                    <button type="button" class="btn btn-success" data-dismiss="modal">提交
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="fbContent">
                        <div class="modal-dialog">
                            <div class="modal-content modal-lg">

                                <!-- 模态框头部 -->
                                <div class="modal-header">
                                    <h4 class="modal-title" style="display: contents"></h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>

                                <!-- 模态框主体 -->
                                <div class="modal-body"></div>

                                <!-- 模态框底部 -->
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- content -->

        <footer class="footer text-right">
            2017 - 2018 © Abstack. - Coderthemes.com
        </footer>

    </div>

    <!-- ============================================================== -->
    <!-- End Right content here -->
    <!-- ============================================================== -->

    <!--处理模态框 -->
    <div class="modal fade" id="exceptionPanel">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- 模态框头部 -->
                <div class="modal-header">
                    <h4 class="modal-title">出错信息：</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- 模态框主体 -->
                <div class="modal-body">
                    操作失败，请稍后重试！
                </div>

                <!-- 模态框底部 -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                </div>

            </div>
        </div>
    </div>

</div>
<!-- END wrapper -->


<!-- jQuery  -->
<script src="js/jquery.min.js"></script>
<script src="js/plugins/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/plugins/metisMenu.min.js"></script>
<script src="js/plugins/waves.js"></script>
<script src="js/index/jquery.slimscroll.js"></script>
<script src="js/index/jquery.waypoints.min.js"></script>
<script src="js/index/jquery.counterup.min.js"></script>

<!-- App js -->
<script src="js/index/jquery.core.js"></script>
<script src="js/index/jquery.app.js"></script>

<script src="js/plugins/echarts.common.min.js"></script>
<script src="js/index/genChart.js"></script>
<!--index js-->
<script src="js/index/event.js"></script>

<!--rich editor-->
<script src="js/plugins/wangEditor.min.js"></script>
</body>
</html>